.header {
  background-image: url(images/banner-mobile.jpg); 
}

.header-container {
  width: 100%;
  padding-top: 23px;
}

.menu-container {
  flex-direction: column-reverse;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  margin: 0;
  gap: 175px;
}

.menu-logo {
  width: 270px;
}

.menu-list {
  display: none;
}

.header-navigation {
    padding-left: 85%;
}

.header-menu-button {
  width: 23px;
  height: 19px;
  background-color: transparent;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
}

.header-menu-button::before {
  top: 0;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.header-menu-button::after {
  bottom: 0;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.header-menu-button-label {
  width: 100%;
  height: 3px;
  margin-top: -0.05em;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
}

.header-title {
  font-size: 26px;
  line-height: 35px;
  padding-top: 30px;
  padding-bottom: 86px;
  max-width: 355px;
}

.trends {
  padding-top: 39px;
}

.trends-header {
  font-size: 16px;
}

.trends-header-text::after {
  margin: 7px auto 25px;
}

.trends-container {
  flex-wrap: wrap;
  gap: 2px;
}

@media (orientation: landscape) { 
  .trend-card {
    width: calc((100% - 3 * 4px) / 2);
  }
}

@media (orientation: portrait) { 
  .trend-card {
    width: 100%;
    display: block;
  }
}

.trend-img {
  width: 100%;
}

.trend-card-text {
  margin: 22% 5% 4% 5%;
}

.trend-title {
  font-size: 1rem;
}

.content {
  width: 100%;
  padding: 15px;
  padding-top: 47px;
  flex-direction: column;

}

.main {
  width: 100%;
  padding-left: 0;
}

.article {
  flex-direction: column;
  margin-bottom: 39px;
}

.article:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #eeeeee;
  margin: auto;
}

.article-img {
  width: 100%;
  height: 100%;
  padding-bottom: 11px;
  background-color: transparent;
}

.article-title {
  font-size: 16px;
  line-height: 22px;
  margin-top: 6px;
  margin-bottom: 15px;
}

.article-date-author {
  margin-bottom: 13px;
}

.article-content-text > .article-content-paragraph {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 19px;
}

.aside {
  width: 100%;
  padding-right: 0;
}

.aside-sidebar {
  margin-left: 0;
  padding-bottom: 40px;
}

.aside-header-text {
  font-size: 16px;
  margin-bottom: 23px;
}

.new-post-search {
  width: 100%;
  margin-top: 41px;
}

.mailing-form-field {
  width: 100%
}

.mailing-form-button {
  width: 100%
}

.ad-block {
  width: 100%;
}

.ad-block-header {
  font-size: 16px;
}

.products {
  flex-wrap: nowrap;
  flex-direction: column;
}

.products-container {
  width: 100%;
}

.products-container:nth-child(n + 2) {
  margin-top: 77px;
}

.product-img {
  width: 90%;
}

.foother {
  max-width: 698px;
}

.foother-blok {
  padding: 0 15px;
}

.foother-list-item {
  margin-left: 25px;
}

.popup-container {
  width: 92%
}

.popup-close {
  right: 1px;
  top: -31px;
}

.svg-popup-close {
  width: 27px;
}

.form-title {
  font-size: 1rem;
}

.form-item {
  background-size: 10px;
}

.radio-group {
  padding-right: 33px;
}

.radio-group:before {
  width: 26px;
  height: 26px;
  background-size: 25px;
}

.radio-label {
  margin-bottom: 26px;
}
